<%= stylesheet_pack_tag '' %>
<div class="jumbotron">
  <h1>Team Calendar</h1>
  <%= react_component('CalendarPage',
                      currentDate: @current_date,
                      userCalendar: false,
                      currentUserId: current_user.id,
                      currentTeamId: @team.id,
                      invitableUsers: @team.members,
                      availableFilters: @filters) %>
</div>