<%= stylesheet_pack_tag '' %>
<h2>Team Calendar</h2>
<%= react_component('CalendarPage',
                    currentDate: @current_date,
                    userCalendar: false,
                    currentUserId: current_user.id,
                    currentTeamId: @team.id) %>