<%= stylesheet_pack_tag '' %>
<h2>Your Calendar</h2>
<%= react_component('CalendarPage',
                    currentDate: @current_date,
                    userCalendar: true,
                    currentUserId: current_user.id,
                    currentTeamId: nil,
                    invitableUsers: current_user.friends + [current_user]) %>