<%= stylesheet_pack_tag '' %>
<div>
  <h1>Your Calendar</h1>
  <%= react_component('CalendarPage',
                      currentDate: @current_date,
                      userCalendar: true,
                      currentUserId: current_user.id,
                      currentTeamId: nil,
                      invitableUsers: current_user.friends + [current_user],
                      availableFilters: @filters) %>
</div>