<% provide(:title, "Sign Up") %>
<% provide(:form_button_text, "Sign Up") %>
<div class='row'>
  <div class='col-md-6 col-md-offset-3 jumbotron'>
    <h1>Sign Up</h1>
    <%= render "users/form" %>
  </div>
</div>
