<% provide(:title, @user.name) %>
<div class='show-user'>
  <aside class='col-md-4'>
    <section class='user-info'>
      <h1>
      <%= gravatar_for @user, size: 100%>
      <%= @user.name %>
      <%= "##{@user.id}" %>
      </h1>
    </section>
  </aside>
</div>