<li>
  <%= link_to team_invitation.team_name, team_path(team_invitation.team_id) %>
  <%= link_to "Accept", accept_team_invitation_path(team_invitation), method: "delete" %>
  <%= link_to "Reject", reject_team_invitation_path(team_invitation), method: "delete",  data: {confirm: "Are you sure?"}%>
</li>