<section class='user-info'>
  <div>
    <%= gravatar_for current_user, size: 100%>
    <%= current_user.name %>
    <%= "##{current_user.id}" %>
  </div>
</section>
<span class="user-information">
  <%= link_to 'view my profile', current_user %>
</span>
<br>