<% provide(:title, "User ToDo Lists") %>
<h1>
  Your To Do Lists
</h1>

<%= link_to 'Create New List', new_user_user_todo_list_path(@user) %>

<%= will_paginate %>
<ul class="user_todo_lists">
  <%= render @user_todo_lists %>
</ul>
<%= will_paginate %>