@import "bootstrap-sprockets";
@import "bootstrap";
$rosu-inchis: darkred;
  /* universal */
body{
  padding-top: 80px
}
section{
  overflow: auto;
}
textarea{
  resize: vertical;
}
/*  daca pui .ceva inseamna ca asociezi un styling clasei ceva
    daca pui #ceva inseamna ca asociezi un styling id-ului ceva
*/
.center{   /*asta asociaza clasa center cu un text aliniat la mijloc, dar se putea numi si altcumva*/
  text-align: center;
  color: $rosu-inchis;
  h1{
    margin-bottom: 10px;
  }
}
/* Typography */
h1,h2,h3,h4,h5,h6{
  line-height: 1;
}
h1{
  margin-bottom: 30px;
  text-align: center;
}
h2{
  margin-bottom: 25px;
  text-align: center;
}
p{
  font-size: 1.1*16px;
  line-height: 1.7*16px;  /*16px  <=> 1 em*/
}
#logo{
  font-size: 20px;
  color: $rosu-inchis;
  text-align: left;
  text-transform: capitalize;
  font-weight: bold;
  &:hover{
    color: chartreuse;
  }
}
/*
img{
  display:none;
}
*/
a{
  &:hover{
    color: $rosu-inchis;
  }
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} /* mixin face posibil gruparea unor reguli de CSS pentru a fi folosite de mai multe elemente*/
.debug_dump{
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;  /* aici este apelat acel mixin, este echivalent cu a pune toate proprietatiile aici*/
}

aside{
  section.user-info{
    display: inline-block;
    font-size: 20px;
    margin-top: 30px;
  }
  section{
    padding: 10px;
    margin-top: 30px;
    &:first-child{
      border: 0;
      padding-top: 0;
    }
    span{
      display: block;
      margin-bottom: 5px;
      line-height: 1px;
    }
    h1{
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 5px;
      margin-top: 0px;
    }
  }
}
.gravatar{
  align-items: center;
  margin-right: 5px;
  .button-change-gravatar{
    width: 80px;
    background-color: #2E2F30;
    color: white;
    &:hover{
      background-color: $rosu-inchis;
    }
  }
}
.gravatar_edit{
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  .user-activated-date, a{
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
  }
  a{
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $rosu-inchis;
    }
  }
  strong {
    display: block;
  }
}
.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a{
    padding: 0;
  }
}
.users.follow {
  padding: 0;
}

.user-information{
  display: inline-block;
  vertical-align: top;
}
/* forms */
input, textarea, select, .uneditable-input{
  border: 1px solid #BBBBBB;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing
}
input[type=checkbox]{
  width: auto;
}
input{
  height: auto !important;
}
#error-explanations{
  ul{
    color: crimson;
    margin: 0 0 30px 0;
  }
}
.field_with_errors{
  @extend .has-error;
  .form_control{
    color: $state-danger-text;
  }
}

/* checkbox for remember me */
.checkbox{
  margin-top: 10px;
  margin-bottom: 10px;
  span{
    margin-left: 20px;
    font-weight: normal;
  }
}


#session_remember_me{  /* asta e stiling-ul al casutei propriu-zise */
  width: auto;
  margin-left: 0;
}

.users, .user_todo_lists, .teams, .team_invitations, .team-projects, .team_members{
  list-style: none;
  margin: 0;
  li{
    overflow: auto;
    padding: 10px;
    border-bottom: 1px solid $rosu-inchis;
  }
}

#follow-form{
  padding-top: 30px;
}

aside { textarea {
  height: 100px;
  margin-bottom: 5px; }
}

textarea {
  resize: vertical;
}

.modal-backdrop {
  background-color: rgba(0,0,0,0.5);
}

.delete-list-button{
  position: absolute;
  padding-right: 15px;

  float: right;
}

.todolist_tasks {
  .card {
    margin-top: 10px;
    border: 2px solid #2E2F30;
    border-radius: 10px;
    max-width: 500px;
    width: auto;
    overflow-wrap: break-word;

    .card-title{
      font-size: 1.1*16px*1.5;
      line-height: 1.7*16px*1.5;  /*16px  <=> 1 em*/
    }

    .card-body {
      padding: 10px;
    }

    .task-option-selector {
      width: auto;
    }

    .tag-selector {
      width: auto;
    }

    .tags-container{
      .content-tags{
        width: fit-content;
        display: flex;
        flex-flow: wrap;
      }
      .tag-row{
        display: inherit;
        padding-top: 5px;
        padding-bottom: 5px;

        .tag-text-container{
          min-width: 45px;
          height: 25px;
          text-align: center;
          background-color: #2E2F30;
          color: white;
          border-radius: 10px;
          display: flex;
          align-items: center;
          margin-right: 5px;
        }

        .text{
          padding: 10px;
          margin: 0px
        }

        .delete-tag-button{
          width: 15px;
          text-align: center;
          vertical-align: top;
          opacity: 1;
          border-radius: 50%;
          margin-right: 10px;
        }
      }
    }
  }
}
.add-tag{
  padding-top: 5px;
  min-width: fit-content;
}

.add-tag-button{
  &:hover{
    cursor: pointer;
    color: #730E15;
    border-color: #F7F7F7;
    border-radius: 2px;
  }
}

.description-input{
  resize: none;
  overflow-y: auto;
}

.radio-button-group-container{
  display: flex;
  flex-direction: column;
  .radio-button-div{
    display: inline;
    align-items: start;
    width: 130px;
    .radio-label{
      width: 70%
    }
    .radio-button{
      width: 30%;
    }
  }
}

.kanban-container {
  min-height: 500px;
  height: 500px;
  min-width: 1250px;
  overflow-x: scroll;
  justify-content: space-between;
  display: flex;
  .kanban-column-container{
    min-height: 100%;
    height: fit-content;
    width: 20%;
    background-color: #2f3030;
    border: 2px solid #2E2F30;
    border-radius: 10px;
    padding: 1px;
    //background-color: #2E2F30;
    margin-left: 5px;
    margin-right: 5px;
    .kanban-column-header {
      height: 30px;
      color: white;
    }
    .kanban-column-body {
      color: white;
      .task-card{
        width: auto;
        height: auto;
        border: 2px solid #2E2F30;
        border-radius: 10px;
        font-size-adjust: inherit;
        background-color: #494A4A;
        margin: 2px;
        .task-name{
          font-size: 15px;
        }
        .task-footer{
          display: flex;
          justify-content: space-between;
          font-size: 15px;
        }
        .task-tags{
          width: fit-content;
          display: flex;
          flex-flow: wrap;
          .task-tag{
            display: inherit;
            background-color: white;
            color: #2f3030;
          }
        }
      }
      .task-card:hover {
        box-shadow: 0 0 5px white;
        background-color: #575959;
      }
    }
  }
}

.team_project_task_view_modal {
  width: 70vw;    /* Occupy the 70% of the screen width */
  .team-project-task-info{
    height: 100%;
    width: 33%;
    border-left: 1px solid;
    border-color: #2f3030;
    padding-left: 20px;
    p, input, textarea, label{
      max-width: 100%;
      overflow-x: auto;
      overflow-wrap: break-word;
    }
  }
  .team-project-task-comments-container {
    height: 100%;
    width: 67%;
    display: flex;
    .team-project-task-comments {
      overflow-y: auto;
      height: 100%;
      width: 100%;
      .comment{
        .comment-writer{
          font-size: 1.1*12px;
        }
        .comment-content{
          font-size: 1.1*14px;
        }
        .comment-created_at-time{
          font-size: 1.1*10px;
        }
      }
    }
  }
}

.team-team-projects-filters{
  padding-left: 10px;
}

.button-dark{
  background-color: #2E2F30;
  border: none;
  &:hover{
    background-color: $rosu-inchis;
  }
  &:active{
    background-color: $rosu-inchis;
  }
  &:focus{
    background-color: $rosu-inchis;
  }
  &:active:focus{
    background-color: $rosu-inchis;
  }
  max-width: 100%;
  width: fit-content;
  overflow-wrap: break-word;
  white-space: normal
}

.button-dark-red{
  background-color: $rosu-inchis;
  border: none;
  &:hover{
    background-color: red;
  }
  &:active{
    background-color: red;
  }
  &:focus{
    background-color: red;
  }
  &:active:focus{
    background-color: red;
  }
  max-width: 100%;
  width: fit-content;
  overflow-wrap: break-word;
  white-space: normal
}

.friendship-form{
  display: flex;
  float: left;
  padding: 0 10px;
  .button-friendship-action{
    background-color: #2E2F30;
    &:hover{
      background-color: $rosu-inchis;
    }
  }
}

.user-name-link, .user-todo-list-link, .user-team, .user-team-invitation, .team-project-link, .team-member-link, .invited-user-link{
  font-size: 20px;
  color: black;
}

.delete-tag-button{
  width: 15px;
  text-align: center;
  vertical-align: top;
  opacity: 1;
  border-radius: 50%;
  margin-right: 10px;
}

.calendar-events-container{
  overflow-wrap: break-word;
  .filters{
    @media (min-width: 992px) {
      padding-right: 0;
    }
    .filter-list{
      @media (max-width: 576px){
        width: 100%;
      }
      padding-left: 15px;
      .team-calendar-filters{
        max-height: 205px;
        overflow-y: scroll;
      }
      .personal-calendar-filters{
        max-height: 205px;
        overflow-y: scroll;
      }
      .checkbox-filter{
        accent-color: $rosu-inchis;
      }
    }
    .view-list{
      @media (max-width: 576px){
        width: 100%;
        padding-left: 15px;
      }

      .radio-button-red{
        accent-color: $rosu-inchis;
      }
    }
  }
  .calendar-plot{
    @media (min-width: 992px) {
      padding-left: 0;
    }
  }
}

.radio-button-red{
  accent-color: $rosu-inchis;
}

.answer{
  vertical-align: baseline;
  align-self: center;
  width: 120px;
}

.invitee-name{
  border-right: 1px solid $gray-lighter;
}

td{
  width: 120px;
  padding: 5px;
}

.checkbox-completed{
  accent-color: $rosu-inchis
}

.team_invites{
  width: fit-content;
  overflow-wrap: break-word;
  .user-team-invitation-container{
    .user-team-invitation{
      justify-content: space-between;
    }
  }
}

.team-members-and-invitations{
  float: right;
  border: 1px solid $gray-lighter;
  padding: 5px;
  overflow-y: scroll;
  height: 70vh;
}

.team-projects-index{
  float: left;
}

.team-owner-commands{
  float: right;
  .team-owner-command{
    display: inline-block;
  }
}

.team-user-command{
  float: right;
}

.tags-container{
  .content-tags{
    width: fit-content;
    display: flex;
    flex-flow: wrap;
  }
  .tag-row{
    display: inherit;
    padding-top: 5px;
    padding-bottom: 5px;

    .tag-text-container{
      min-width: 45px;
      height: 25px;
      text-align: center;
      background-color: #2E2F30;
      color: white;
      border-radius: 10px;
      display: flex;
      align-items: center;
      margin-right: 5px;
    }

    .text{
      padding: 10px;
      margin: 0px
    }

    .delete-tag-button{
      width: 15px;
      text-align: center;
      vertical-align: top;
      opacity: 1;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
}

.todo-list{
  min-height: 600px;
}

.loader{
  align-content: center;
  align-self: center;
  width: 150px;
  height: 150px;
  border-radius: 10rem;
  border: 3px solid white;
  background: linear-gradient($rosu-inchis, #2E2F30);
  box-shadow: 0px 0px 100px -50px black;
  animation: animate 1s linear infinite;
}

.loader::before{
  position: absolute;
  content: "";
  background: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border-radius: 10rem;
  border: 3px solid white;
  box-shadow: inset 0px 0px 100px -70px #111;
}

@keyframes animate{
  from{
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.small-loader{
  align-content: center;
  align-self: center;
  width: 100px;
  height: 100px;
  border-radius: 10rem;
  border: 3px solid white;
  background: linear-gradient($rosu-inchis, #2E2F30);
  box-shadow: 0px 0px 100px -50px black;
  animation: animate 1s linear infinite;
}

.small-loader::before{
  position: absolute;
  content: "";
  background: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border-radius: 10rem;
  border: 3px solid white;
  box-shadow: inset 0px 0px 100px -70px #111;
}