@import "bootstrap-sprockets";
@import "bootstrap";
$rosu-inchis: darkred;
  /* universal */
body{
  padding-top: 80px
}
section{
  overflow: auto;
}
textarea{
  resize: vertical;
}
/*  daca pui .ceva inseamna ca asociezi un styling clasei ceva
    daca pui #ceva inseamna ca asociezi un styling id-ului ceva
*/
.center{   /*asta asociaza clasa center cu un text aliniat la mijloc, dar se putea numi si altcumva*/
  text-align: center;
  color: $rosu-inchis;
  h1{
    margin-bottom: 10px;
  }
}

/* Typography */
h1,h2,h3,h4,h5,h6{
  line-height: 1;
}
h1{
  margin-bottom: 30px;
  text-align: center;
}
h2{
  margin-bottom: 25px;
  text-align: center;
  color: $rosu-inchis;
}
p{
  font-size: 1.1*16px;
  line-height: 1.7*16px;  /*16px  <=> 1 em*/
}
#logo{
  font-size: 20px;
  color: $rosu-inchis;
  text-align: left;
  text-transform: capitalize;
  font-weight: bold;
  &:hover{
    color: chartreuse;
  }
}
/*
img{
  display:none;
}
*/

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} /* mixin face posibil gruparea unor reguli de CSS pentru a fi folosite de mai multe elemente*/
.debug_dump{
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;  /* aici este apelat acel mixin, este echivalent cu a pune toate proprietatiile aici*/
}

aside{
  section.user-info{
    margin-top: 30px;
  }
  section{
    padding: 10px;
    margin-top: 30px;
    &:first-child{
      border: 0;
      padding-top: 0;
    }
    span{
      display: block;
      margin-bottom: 5px;
      line-height: 1px;
    }
    h1{
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 5px;
      margin-top: 0px;
    }
  }
}
.gravatar{
  float: left;
  margin-right: 5px;
}
.gravatar_edit{
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a{
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}
.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a{
    padding: 0;
  }
}
.users.follow {
  padding: 0;
}

.user-information{
  display: inline-block;
}
/* forms */
input, textarea, select, .uneditable-input{
  border: 1px solid #BBBBBB;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing
}
input{
  height: auto !important;
}
#error-explanations{
  ul{
    color: crimson;
    margin: 0 0 30px 0;
  }
}
.field_with_errors{
  @extend .has-error;
  .form_control{
    color: $state-danger-text;
  }
}

/* checkbox for remember me */
.checkbox{
  margin-top: 10px;
  margin-bottom: 10px;
  span{
    margin-left: 20px;
    font-weight: normal;
  }
}

.checkbox-completed{
  padding-left: 10px;
  width: auto
}
#session_remember_me{  /* asta e stiling-ul al casutei propriu-zise */
  width: auto;
  margin-left: 0;
}

.users{
  list-style: none;
  margin: 0;
  li{
    overflow: auto;
    padding: 10px;
    border-bottom: 1px solid $rosu-inchis;
  }
}
#follow-form{
  padding-top: 30px;
}

aside { textarea {
  height: 100px;
  margin-bottom: 5px; }
}

textarea {
  resize: vertical;
}

.modal-backdrop {
  background-color: rgba(0,0,0,0.5);
}

.delete-list-button{
  position: absolute;
  padding-right: 15px;

  float: right;
}

.todolist_tasks {
  .card {
    margin-top: 10px;
    border: 2px solid #2E2F30;
    border-radius: 10px;
    max-width: 500px;
    width: auto;

    .card-title{
      font-size: 1.1*16px*1.5;
      line-height: 1.7*16px*1.5;  /*16px  <=> 1 em*/
    }

    .card-body {
      padding: 10px;
    }

    .task-priority-selector {
      width: auto;
    }
  }
}
.description-input{
  resize: none;
  overflow-y: auto;
}
